<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag('teal-logo.png', class: "teal-icon"), "/" %>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: #008080">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="my-page-link" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.name}のマイページ", "/users/#{current_user.id}", class: "dropdown-item" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "dropdown-item" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='nav'>
    <div class='buttons'>
        <% if user_signed_in? %>
      <div><%= link_to 'ホーム', "/", class: "button" %></div>
      <div><%= link_to 'NEWS', news_index_path, class: "button" %></div>
      <div><%= link_to "#{current_user.name}のマイページ", "/users/#{current_user.id}", class: "button" %></div>
        <% else %>
      <div><%= link_to 'ホーム', "/", class: "button" %></div>
      <div><%= link_to 'NEWS', news_index_path, class: "button" %></div>
        <% end %>
    </div>

    <nav class="search">
      <%= search_form_for @q, url: opportunities_path, html: {id: "detailed-search-form"} do |f| %>
        <div class="search-field">
          <%= f.label :op_name_cont, '案件名' %>
          <%= f.text_field :op_name_cont, placeholder: '案件名' %>
          <%= f.label :company_cont, '会社名' %>
          <%= f.text_field :company_cont, placeholder: '会社名' %>
          <%= f.submit '検索' %>
        </div>
      <% end %>

    </nav>
      <%# CSV出力ボタン %>
      <div class="csv">
        <%= link_to "CSV出力",root_path(format: :csv) %>
      </div>
      <%# /CSV出力ボタン %>
  </div>
</header>